


<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>בחירת סידור מרשימה</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" rel="stylesheet">
    <link href="allForms.css" rel="stylesheet">
</head>

<body class="d-flex flex-column">

    <main class="container mt-3">
        <div class="container col-lg-8">
            <h1 class="text-center">בקשה לסידור עבודה</h1>
        </div>




        <div class="container col-lg-8 justify-content-center">
            
            
            <div class="d-flex flex-wrap justify-content-center">
                
                
                <div class="col">
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="ml-2 px-2">שבוע:</span>

                        <div class="col-4">
                            <!-- <select class="selectpicker form-control border-0 mb-1 px-0 py-2 rounded shadow">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="MRI Forearm/Elbow Left">MRI Forearm/Elbow Left</option>
                            </select> -->
                            <!-- <label for="weekChoise">שבוע:</label> -->
                            <small id="weekChoise" class="form-text text-muted">דגדג</small>
                            <input type="number" class="form-control" id="weekChoise" min="1" max="52" step="1" placeholder="שבוע">
                        </div>
                        <div class="col-4">
                            <input type="number" class="form-control" id="yearChoise" min="2024" max="2029" step="1" placeholder="שנה" value="2024">
                        </div>

                    </div>
                </div>
                
                
                <div class="col-md">
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="ml-2 px-2">עובד:</span>

                        <div class="col-12">
                            <select class="selectpicker form-control border-0 mb-1 px-2 py-2 rounded shadow">
                                <option value="ראובן כהן">ראובן כהן</option>
                                <option value="שמעון לוי">שמעון לוי</option>
                                <option value="אבי הזמר">אבי הזמר</option>
                                <option value="MRI Knee Left">MRI Knee Left</option>
                                <option value="MRI Forearm/Elbow Right">MRI Forearm/Elbow Right</option>
                                <option value="MRI Forearm/Elbow Left">MRI Forearm/Elbow Left</option>
                                <option value="CT Knee Right">CT Knee Right</option>
                                <option value="CT Knee Left">CT Knee Left</option>
                            </select>
                        </div>
                    </div>
                </div>



            </div>


        </div>

        <div class="container col-lg-8 mt-3">
            <div class="row border-bottom">
                <div class="col p-0 d-flex justify-content-center">
                    יום בשבוע
                </div>
                <div class="col p-0 d-flex justify-content-center">
                    משמרת בוקר
                </div>
                <div class="col p-0 d-flex justify-content-center">
                    משמרת צהרים
                </div>
                <div class="col p-0 d-flex justify-content-center">
                    משמרת לילה
                </div>
            </div>
            <% const days=["ראשון", "שני" , "שלישי" , "רביעי" , "חמישי" , "שישי" , "שבת" ]; %>
            <% for (let i=0; i < 7; i++) { %>

                <!-- 1st ROW (shifts) -->
                <div class="row row-shifts day-<%= i+1 %>">

                    <div class="col p-2 d-flex justify-content-center">
                        <%= days[i] %>
                    </div>

                    <div class="col p-2 d-flex justify-content-center">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input shift-toggle has-ot"
                                id="shifts[<%= i + 1 %>][morning][reg]"
                                name="shifts[<%= i + 1 %>][morning][reg]" disabled
                                data-day="<%= i + 1 %>" data-shift="morning" data-category="reg">
                        </div>
                    </div>

                    <div class="col p-2 d-flex justify-content-center">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input shift-toggle"
                                id="shifts[<%= i + 1 %>][noon][reg]"
                                name="shifts[<%= i + 1 %>][noon][reg]" disabled
                                data-day="<%= i + 1 %>" data-shift="noon" data-category="reg">
                        </div>
                    </div>

                    <div class="col p-2 d-flex justify-content-center">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input shift-toggle has-ot"
                                id="shifts[<%= i + 1 %>][night][reg]"
                                name="shifts[<%= i + 1 %>][night][reg]" disabled
                                data-day="<%= i + 1 %>" data-shift="night" data-category="reg">
                        </div>
                    </div>

                </div>

                <!-- 2cd ROW (OTs) -->
                <div class="row row-ot day-<%= i+1 %> border-bottom hidden">

                    <div class="col p-2 d-flex justify-content-center">
                        <!-- for maintaining structure  -->
                    </div>

                    <div class="col d-flex justify-content-center align-items-start">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input ot-toggle" disabled
                                id="ots[<%= i + 1 %>][morning][ot1]"
                                name="ots[<%= i + 1 %>][morning][ot]"
                                data-day="<%= i + 1 %>" data-shift="morning" data-category="ot1">
                            <label class="form-check-label small"
                                for="ots[<%= i + 1 %>][morning][ot]">עד 19</label>
                        </div>
                    </div>

                    <div class="col p-2 d-flex justify-content-center align-items-center">
                        <!-- for maintaining structure  -->
                    </div>

                    <div class="col d-flex flex-wrap justify-content-center align-items-start">

                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input ot-toggle" disabled
                                id="ots[<%= i + 1 %>][night][ot1]"
                                name="ots[<%= i + 1 %>][night][ot][1]"
                                data-day="<%= i + 1 %>" data-shift="night" data-category="ot1">
                            <label class="form-check-label small"
                                for="ots[<%= i + 1 %>][night][ot][1]">מ-19</label>
                        </div>

                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input ot-toggle" disabled
                                id="ots[<%= i + 1 %>][night][ot2]"
                                name="ots[<%= i + 1 %>][night][ot][2]"
                                data-day="<%= i + 1 %>" data-shift="night" data-category="ot2">
                            <label class="form-check-label small"
                                for="ots[<%= i + 1 %>][night][ot][2]">עד 11</label>
                        </div>

                    </div>

                </div>
            <% } %>
        </div>
        <div class="container">
            <label class="form-label" for="comment">
                <h5>הערות מיוחדות</h5>
            </label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum laudantium doloribus, laboriosam
                nemo esse quaerat ducimus facilis odit qui! Soluta numquam sequi nobis mollitia non perspiciatis rerum
                aliquid minima.</p>
        </div>
    </main>

    <script src="./allForms.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>