<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>砖转 住专</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="formWorker.css" rel="stylesheet">
</head>

<body class="mb-5 d-flex flex-column">
    <div><button id="devtemp">trigger </button></div>
    <main class="container col-lg-6 col-md-8 mt-5">
        <div class="container mb-5">
            <h1 class="text-center">驻住 砖转 住专 注</h1>
            <h4 class="text-center fw-light">注专 砖注 
                <span class="text-muted fw-bold" id="start-date">#</span> 注 
                <span class="text-muted fw-bold" id="end-date">#</span> (住' <span class="text-muted" id="weeknum"></span>)
            </h4>
        </div>
        <form action="/worksche" method="GET">
            <div class="container mb-5 col-8">
                <label class="form-label" for="fullName" id="uniqueID">
                    <h5>砖 </h5>
                </label>
                <input class="form-control" type="text" name="fullName" id="fullName" placeholder="砖 驻专 砖驻"
                    required value="">
            </div>
            <div class="container mb-5">
                <label class="form-label" for="fullName">
                    <h5>专转 砖专转</h5>
                </label>
                <div class="row border-bottom">
                    <div class="col p-2 d-flex text-center justify-content-center align-items-center">
                         砖注
                    </div>
                    <div class="col p-2 d-flex text-center justify-content-center align-items-center">
                        砖专转 拽专
                    </div>
                    <div class="col p-2 d-flex text-center justify-content-center align-items-center">
                        砖专转 爪专
                    </div>
                    <div class="col p-2 d-flex text-center justify-content-center align-items-center">
                        砖专转 
                    </div>
                </div>
                <% const days=["专砖", "砖" , "砖砖" , "专注" , "砖" , "砖砖" , "砖转" ]; %>
                <% for (let i=0; i < 7; i++) { %>

                    <!-- 1st ROW (shifts) -->
                    <div class="row row-shifts day-<%= i+1 %>">

                        <div class="col p-2 d-flex justify-content-center">
                            <%= days[i] %>
                        </div>

                        <div class="col p-2 d-flex justify-content-center">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input shift-toggle has-ot"
                                    id="shifts[<%= i + 1 %>][morning][reg]"
                                    name="shifts[<%= i + 1 %>][morning][reg]"
                                    data-day="<%= i + 1 %>" data-shift="morning" data-category="reg">
                            </div>
                        </div>

                        <div class="col p-2 d-flex justify-content-center">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input shift-toggle"
                                id="shifts[<%= i + 1 %>][noon][reg]"
                                name="shifts[<%= i + 1 %>][noon][reg]"
                                data-day="<%= i + 1 %>" data-shift="noon" data-category="reg">
                            </div>
                        </div>

                        <div class="col p-2 d-flex justify-content-center">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input shift-toggle has-ot"
                                    id="shifts[<%= i + 1 %>][night][reg]"
                                    name="shifts[<%= i + 1 %>][night][reg]"
                                    data-day="<%= i + 1 %>" data-shift="night" data-category="reg">
                            </div>
                        </div>

                    </div>

                    <!-- 2cd ROW (OTs) -->
                    <div class="row row-ot day-<%= i+1 %> border-bottom hidden">

                        <div class="col p-2 d-flex justify-content-center">
                            <!-- for maintaining structure  -->
                        </div>

                        <div class="col d-flex justify-content-center align-items-start">
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input ot-toggle" 
                                id="ots[<%= i + 1 %>][morning][ot1]"
                                name="ots[<%= i + 1 %>][morning][ot]"
                                data-day="<%= i + 1 %>" data-shift="morning" data-category="ot1">
                                <label class="form-check-label small"
                                    for="ots[<%= i + 1 %>][morning][ot]">注 19:00</label>
                            </div>
                        </div>

                        <div class="col p-2 d-flex justify-content-center align-items-center">
                            <!-- for maintaining structure  -->
                        </div>

                        <div class="col d-flex flex-wrap justify-content-center align-items-start">

                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input ot-toggle" disabled
                                id="ots[<%= i + 1 %>][night][ot1]"
                                name="ots[<%= i + 1 %>][night][ot][1]"
                                data-day="<%= i + 1 %>" data-shift="night" data-category="ot1">
                                <label class="form-check-label small"
                                    for="ots[<%= i + 1 %>][night][ot][1]">-19:00</label>
                            </div>

                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input ot-toggle" disabled
                                id="ots[<%= i + 1 %>][night][ot2]"
                                name="ots[<%= i + 1 %>][night][ot][2]"
                                data-day="<%= i + 1 %>" data-shift="night" data-category="ot2">
                                <label class="form-check-label small"
                                    for="ots[<%= i + 1 %>][night][ot][2]">注 11:00</label>
                            </div>

                        </div>

                    </div>
                <% } %>
            </div>
            <div class="container mb-5">
                <label class="form-label" for="comment">
                    <h5>注专转 转</h5>
                </label>
                <input class="form-control" type="text" name="comment" id="comment" value="">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-3" id="submitBtn">砖转 住专</button>
            </div>
        </form>
        </div>


        </form>
    </main>

    <script src="./formWorker.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>